.Sidebar
    position: absolute
    top: 50px
    left: 0
    width: 230px
    background: $dark-blue
    height: calc(100% - 50px)

.Sidebar__category
    text-transform: uppercase
    color: $white
    font-size: 11px
    background: darken($dark-blue, 2%)
    padding: 5px
    margin: 0

.Sidebar__menu
    list-style: none
    padding-left: 0

    li
        margin-top: 3px
        margin-bottom: 3px
        padding: 10px 0

